@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

.grid {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:"header"
                        "main";
}

.menugrid {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"help      menuheadline add"
                        "menuitems menuitems    menuitems"
                        "menuitems menuitems    menuitems";
}

.menuitemgrid {
    padding: 5px;
    max-height: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"menuitemheader      menuitemheader      menuitemheader      edit                delete";
}

.body {
    background-color: #C59A7F;
    background-image: url(assets/images/blob-wide-small.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: static;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.header {
    padding: 2% 15% 0 15%;
}

.orders {
    float: left;
    margin: 0 20px 0 0
}

.menu {
    float: right;
    margin: 0 20px 0 0
}

.news {
    float: right;
    padding-left: 1%;
    margin: 0 20px 0 0
}

.add {
    text-align: right;
}

/* Gjør at dropdown menyen blir fin*/
.btn {
    background-color: #AC806C;
    color: #401200;
    min-width: 175px;
    width: initial;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 25px;
    user-select: none;
}

.btn:hover {
    background-color: #BB9786;
    transition-duration: .5s;
}

.addbtn {
    background-color: #BB9786;
    color: #401200;
    font-size: 30px;
    width: 2em;
    height: 2em;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 2500px;
    user-select: none;
}

.main {
    margin: 15% 15% 0 15%;
    padding: 1.5%;
    color: #421F0A;
    background-color: #AC806C;
    border-radius: 50px;
}

h1 {
    color: #401200;
    text-align: center;
    font-size: 40px;
}

.headline {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #401200;
    margin: 0;
}

.menuitemdescription {
    margin: 25px 0 80px 0;
}

.menuitemdescription::after {
    position: absolute;
    content: "";
    background-color: #401200;
    width: 220px;
    margin: 40px 0;
    height: 5px;
    border-radius: 5px;
}

.editmenuitemdesription {
    resize: none;
    width: 100%;
    height: 300px;
    text-align: left;
    border-radius: 25px;
}

.editmenuitemheader {
    resize: none;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    margin-top: 25px;
}

.itembtn {
    background-color: #C59A7F;
    color: #401200;
    min-width: 125px;
    width: initial;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 25px;
    user-select: none;
}

.delete {
    text-align: center;
}

.edit {
    text-align: center;
}

.menuitemheadline {
    cursor: default;
    margin: 0;
    text-decoration: none;
}

.menuheadline {
    color: #401200;
    text-align: center;
    font-size: 60px;
}

/*  Alt over er pagespesific  ↑  */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*  ↓  Alt under er general  ↓  */


.splashbody {
    background-color: #C59A7F;
}

.loading {
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}

td, th {
    text-align: center;
    padding: 8px;
}

td:nth-child(1) {
    border-bottom-left-radius: 250px;
    border-top-left-radius: 250px;
}

td:nth-child(3) {
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px;
}

th {
    font-size: 25px;
    line-height: 60px;
    border-bottom: 3px solid #401200;
}

tr:nth-child(odd) {
    background-color:  #BB9786;
}

tr:nth-child(2) {
    font-size: 0;
    background-color: #AC806C;
}

tr:nth-child(1) {
    background-color: #AC806C;
}

/* unvisited link */
.itembtn:link {
    color: #401200;
}

/* visited link */
.itembtn:visited {
    color: #401200;
}

/* mouse over link */
.itembtn:hover {
    background-color: #BB9786;
    transition-duration: .5s;
}

/* selected link */
.itembtn:active {
    color: #401200;
}

.main { grid-area: main; }
.header { grid-area: header; }
.menuheadline { grid-area: menuheadline; }
.menuitemheadline { grid-area: menuitemheader; }
.menuitemdescription { grid-area: menuitemdescription; }
.menuitems { grid-area: menuitems; }
.add { grid-area: add; }
.edit { grid-area: edit;}
.delete { grid-area: delete;}

.help { grid-area: help;}